.login {
  height: 100vh;
  background-image: linear-gradient(120deg, #233f6d 0%, #c2e9fb 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(49, 91, 146, 0.5), rgba(116, 185, 225, 0.5)),
          center;
      background-size: cover;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      
      

      span {
        font-size: 14px;
      }
      
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color:rgb(241, 243, 244);
        color:rgb(	85, 194, 218);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding-left: 20px;
      padding-right:20px;
      padding-top: 50px;
      padding-bottom:50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
      color: #555;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color:rgb(	85, 194, 218);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
