.register {
  height: 100vh;
  background-image: linear-gradient(120deg, #233f6d 0%, #c2e9fb 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  border-radius: 10px;
  max-height: 600px;
 
}

.left {
  flex: 1;
  background: linear-gradient(rgba(49, 91, 146, 0.5), rgba(116, 185, 225, 0.5)),
    center;
  background-size: cover;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.left h1 {
  font-size: 100px;
  line-height: 100px;
}

.left p {}

.left span {
  font-size: 14px;
}

.left button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: white;
  color: rgb(85, 194, 218);
  font-weight: bold;
  cursor: pointer;
}

.right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  color: #555;
  overflow-x: scroll;
  overflow-y: auto;
 
}

.right h1 {}

.right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 400px;
}

.right input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 20px 10px;
}

.right button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.right button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.right button:active {
  transform: translateY(-1px);
}
