.discover-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

.alumni-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .alumni-card {
    width: calc(33.333% - 1rem);
    margin-bottom: 1rem;
  }